<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>[% title || 'Mikutterasium' %]</title>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <script src="[% uri_for('/static/js/jquery-1.9.1.min.js') %]"></script>
    <script src="[% uri_for('/static/bootstrap/js/bootstrap.js') %]"></script>
    <script src="[% uri_for('/static/js/es5-shim.min.js') %]"></script>
    <script src="[% uri_for('/static/js/micro_template.js') %]"></script>
    <script src="[% uri_for('/static/js/strftime.js') %]"></script>
    <script src="[% uri_for('/static/js/sprintf-0.7-beta1.js') %]"></script>
    <script src="[% uri_for('/static/js/micro-location.js') %]"></script>
    <script src="[% uri_for('/static/js/micro_dispatcher.js') %]"></script>
    <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link href="[% static_file('/static/css/main.css') %]" rel="stylesheet" type="text/css" media="screen" />
    <script src="[% static_file('/static/js/main.js') %]"></script>
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body[% IF bodyID %] id="[% bodyID %]"[% END %]>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Mikutterasium</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li [% IF c().req.path_info=='/' %]class="active"[% END %]><a href="/">Home</a></li>
                        <li [% IF c().req.path_info=='/recent' %]class="active"[% END %]><a href="/recent">Recent</a></li>
                        <li [% IF c().req.path_info=='/authors' %]class="active"[% END %]><a href="/authors">Authors</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->
    <div class="container">
        <div id="main">
            <div>
                [% IF count_repos %]
                <strong>Repository</strong>
                &nbsp;
                [% FOR h IN count_repos %]
                <span>[% h.host_type %]: [% h.count %]</span>
                [% END %]
                [% END %]
                &nbsp;&nbsp;
                [% IF count_authors %]
                <strong>Author</strong>
                <span>[% count_authors %]</span>
                [% END %]
            </div>
            [% content %]
        </div>
        <footer class="footer">
            Forked by <a href="http://cpanasium.64p.org/">CPANasium</a>
        </footer>
    </div>
</body>
</html>
